<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jeston.org.mobilegrammar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AllArticlesListViewActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity android:name=".AllArticlesListViewActivity" > -->
        <!-- </activity> -->
        <activity android:name=".WebViewActivity"></activity>
        <activity
            android:name=".UserGroupLessonsActivity"
            android:label="@string/your_groups"></activity>
        <activity
            android:name=".FormCreateNewGroupActivity"
            android:label="@string/all_articles_menu_title"></activity>
        <activity
            android:name=".AddReminderToGroupActivity"
            android:label="@string/new_group"></activity>
        <activity
            android:name=".AboutProgramActivity"
            android:label="@string/about_program_string"></activity>
        <activity android:name=".IrregularVerbsActivity"></activity>
    </application>

</manifest>